In [1]:
import pandas as pd

In [23]:
# Load the uploaded crime_data_cleanedset
file = 'Crime_Data_from_2020_to_Present.csv'
crime_data = pd.read_csv(file,low_memory=False)
crime_data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475.0,03-01-2020 00:00,03-01-2020 00:00,2130.0,7.0,Wilshire,784.0,1.0,510.0,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753.0,02-09-2020 00:00,02-08-2020 00:00,1800.0,1.0,Central,182.0,1.0,330.0,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258.0,11-11-2020 00:00,11-04-2020 00:00,1700.0,3.0,Southwest,356.0,1.0,480.0,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217.0,05-10-2023 00:00,03-10-2020 00:00,2037.0,9.0,Van Nuys,964.0,1.0,343.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831.0,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200.0,6.0,Hollywood,666.0,2.0,354.0,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [3]:
# 3. Define the list of columns to remove
columns_to_remove = [
    'AREA',
    'Part 1-2',
    'Crm Cd',
    'Mocodes',
    'Vict Descent',
    'Premis Cd',
    'Weapon Used Cd',
    'Status',
    'Crm Cd 1',
    'Crm Cd 2',
    'Crm Cd 3',
    'Crm Cd 4',
    'LOCATION',
    'Cross Street',
    'LAT',
    'LON',
    'TIME OCC'
]

# 4. Remove the specified columns
# Option 1: Create a new DataFrame without the unwanted columns
crime_data_cleaned = crime_data.drop(columns=columns_to_remove, errors='ignore')

In [4]:
crime_data_cleaned.head()

,DR_NO,Date Rptd,DATE OCC,AREA NAME,Rpt Dist No,Crm Cd Desc,Vict Age,Vict Sex,Premis Desc,Weapon Desc,Status Desc
0,190326475.0,03-01-2020 00:00,03-01-2020 00:00,Wilshire,784.0,VEHICLE - STOLEN,0.0,M,STREET,NaN,Adult Arrest
1,200106753.0,02-09-2020 00:00,02-08-2020 00:00,Central,182.0,BURGLARY FROM VEHICLE,47.0,M,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,Invest Cont
2,200320258.0,11-11-2020 00:00,11-04-2020 00:00,Southwest,356.0,BIKE - STOLEN,19.0,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont
3,200907217.0,05-10-2023 00:00,03-10-2020 00:00,Van Nuys,964.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19.0,M,CLOTHING STORE,NaN,Invest Cont
4,220614831.0,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,Hollywood,666.0,THEFT OF IDENTITY,28.0,M,SIDEWALK,NaN,Invest Cont

In [5]:
# Display a summary of the data to understand its structure
crime_data_cleaned.info()
crime_data_cleaned.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986500 entries, 0 to 986499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DR_NO        1071 non-null   float64
 1   Date Rptd    1071 non-null   object
 2   DATE OCC     1071 non-null   object
 3   AREA NAME    1071 non-null   object
 4   Rpt Dist No  1071 non-null   float64
 5   Crm Cd Desc  1071 non-null   object
 6   Vict Age     1071 non-null   float64
 7   Vict Sex     1000 non-null   object
 8   Premis Desc  1071 non-null   object
 9   Weapon Desc  210 non-null    object
 10  Status Desc  1071 non-null   object
dtypes: float64(3), object(8)
memory usage: 82.8+ MB

(986500, 11)

In [13]:
crime_data_cleaned.isnull().sum()

DR_NO          985429
Date Rptd           0
DATE OCC            0
AREA NAME      985429
Rpt Dist No    985429
Crm Cd Desc    985429
Vict Age       985429
Vict Sex            0
Premis Desc    985429
Weapon Desc         0
Status Desc    985429
Year Rptd      986084
Month Rptd     986084
Day Rptd       986084
dtype: int64

In [17]:
# Fill missing values
crime_data_cleaned['Vict Sex'].fillna('Unidentified') #, inplace=True
crime_data_cleaned['Weapon Desc'].fillna('None') #, inplace=True

0         None
1         None
2         None
3         None
4         None
          ...
986495    None
986496    None
986497    None
986498    None
986499    None
Name: Weapon Desc, Length: 986500, dtype: object

In [18]:
crime_data_cleaned.isnull().sum()

DR_NO          985429
Date Rptd           0
DATE OCC            0
AREA NAME      985429
Rpt Dist No    985429
Crm Cd Desc    985429
Vict Age       985429
Vict Sex            0
Premis Desc    985429
Weapon Desc         0
Status Desc    985429
Year Rptd           0
Month Rptd          0
Day Rptd            0
dtype: int64

In [19]:
# Converting 'DATE OCC' to datetime 
crime_data_cleaned['DATE OCC'] = pd.to_datetime(crime_data_cleaned['DATE OCC'], errors='coerce')
# onverting 'Date Rptd' is a datetime 
crime_data_cleaned['Date Rptd'] = pd.to_datetime(crime_data_cleaned['Date Rptd'], errors='coerce')


# Now split the 'Date Rptd' column into year, month, and day
crime_data_cleaned['Year Rptd'] = crime_data_cleaned['Date Rptd'].dt.year
crime_data_cleaned['Month Rptd'] = crime_data_cleaned['Date Rptd'].dt.month
crime_data_cleaned['Day Rptd'] = crime_data_cleaned['Date Rptd'].dt.day

In [21]:

# Fill 'Date Rptd' with 'DATE OCC' if available
crime_data_cleaned['Date Rptd'].fillna(crime_data_cleaned['DATE OCC']) #, inplace=True

# Fill any remaining missing 'Date Rptd' with the earliest available date
earliest_date = crime_data_cleaned['Date Rptd'].min()
crime_data_cleaned['Date Rptd'].fillna(earliest_date) #, inplace=True

# Handling missing 'DATE OCC' values
#  Fill missing 'DATE OCC' with 'Date Rptd' where possible, or use a placeholder like the earliest available date in 'DATE OCC'

# Step 1: Fill 'DATE OCC' with 'Date Rptd' if available
crime_data_cleaned['DATE OCC'].fillna(crime_data_cleaned['Date Rptd'])#, inplace=True

# Step 2: Fill any remaining missing 'DATE OCC' with the earliest available date
earliest_date_occ = crime_data_cleaned['DATE OCC'].min()
crime_data_cleaned['DATE OCC'].fillna(earliest_date_occ)#, inplace=True

0        2020-03-01
1        2020-02-08
2        2020-11-04
3        2020-03-10
4        2020-01-01
            ...
986495   2020-01-01
986496   2020-01-01
986497   2020-01-01
986498   2020-01-01
986499   2020-01-01
Name: DATE OCC, Length: 986500, dtype: datetime64[ns]